@model NetChan.App.Boards.Views.ShowBoardViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.ShortName - @Model.Title</h2>

<form asp-action="CreateThread" asp-route-shortName="@Model.ShortName" enctype="multipart/form-data">
    @await Component.InvokeAsync("CreateThread")
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@foreach (var thread in Model.Threads)
{
    <div>
        <img src="~/uploads/@thread.Attachments.First()" class="img-thumbnail rounded float-left" style="width: 300px"/>
        <div>
            <h4><a asp-controller="Thread" asp-action="ShowThread" asp-route-threadId="@thread.Id" asp-route-boardShortName="@Model.ShortName">@thread.Title</a></h4>
            <p>@thread.Content</p>
        </div>
        <div class="clearfix"></div>
    </div>
}